@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

a{
	text-decoration:none;
	color: #0f0a14;
	font-family: 'Montserrat';
}
.nav-space{
	width: 100%;
	text-align: center;
	margin-top:1%;
	padding:1% 0 1% 0;
}
.little-nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.unit-nav-1{
	width:30%;
}
.unit-nav-1 img{
	width: 3rem;
}
.unit-nav-2{
	width:30%;
	border-right: 1px solid var(--morado-osc);
}
.unit-nav-1{
	width:30%;
	border-right: 1px solid var(--morado-osc);
}
.unit-nav-2 img{
	width: 3rem;
}
.unit-nav-3{
	width:30%;
}
.unit-nav-3 img{
	width: 3rem;
}
.unit-nav-1:hover{
	filter: drop-shadow(-4px 5px 10px rgba(217, 101, 187, 0.61));}
.unit-nav-2:hover{
	filter: drop-shadow(-4px 5px 10px rgba(217, 101, 187, 0.61));}
.unit-nav-3:hover{
	filter: drop-shadow(-4px 5px 10px rgba(217, 101, 187, 0.61));}

/*Resolución de tablet*/
@media screen and (min-width: 768px){

}
/*RESOLUCION DE CELULAR*/
@media only screen and (max-width: 600px) {
	.unit-nav-1 img{
		width: 2rem;
	}
	.unit-nav-2 img{
		width: 2rem;
	}
	.unit-nav-3 img{
		width: 2rem;
	}
	.nav-space p{
		font-size: 12px;
	}
}